// 弹框

.dialog{
  padding:10/75rem;
  min-height: 150/75rem;
  >.dialog-bottom{
    padding-top: 15/75rem;
  }
}
.dialog-title{
  padding-bottom: 10/75rem;
}
.dialog>.dialog-title{
  padding-bottom: 10/75rem;
}
[data-dpr="2"] .dialog{
  font-size: 28px;
}
[data-dpr="3"] .dialog{
  font-size: 14*3px;
}

[data-dpr="2"] .dialog-title{
  font-size: 16*2px;
}
[data-dpr="3"] .dialog-title{
  font-size: 16*3px;
}

.dialog-bottom>input{
  padding: 5/75rem 8/75rem;
  font-size: 14px;
}
[data-dpr="2"] .dialog-bottom>input{
  font-size: 14*2px;
}
[data-dpr="3"] .dialog-bottom>input{
  font-size: 14*3px;
}
