// 民信专享
@import './bootstrap/public';

// 头部红色区域
header{
  background-color: @brand-primary;
  color: #fff;
  padding: 35/75rem 0 10/75rem;
  text-align: center;
}
.line-user-tel{
  font-size: 18px;
}
[data-dpr="2"] .line-user-tel{
  font-size: 34px;
}
[data-dpr="3"] .line-user-tel{
  font-size: 18*3px;
}
.span-tel{
  padding-left: 15/75rem;
}

.line-position,.list-statistics{
  font-size: 12px;
  padding-top: 30/75rem; 
}
[data-dpr="2"] .line-position,
[data-dpr="2"] .list-statistics{
  font-size: 24px;
}
[data-dpr="3"] .line-position,
[data-dpr="3"] .list-statistics{
  font-size: 36px;
}
.list-statistics{
  .clearfix;
  >li{
    float: left;
    width: 33%;
  
    >p:first-child{
      margin-bottom: 10/75rem;
      border-right: 1px solid #fff;
    }
    &:last-child{
      >p:first-child{
        margin-bottom: 10/75rem;
        border-right: none;
      }
    }
  }
}
// 内容
.icon-big{
  display: block;
  width: 100%;
  height: 90/75rem;
  line-height: 90/75rem;
  font-size: 30px;
  text-align: center;
}
[data-dpr="2"] .icon-big{
  font-size: 60px;
}
[data-dpr="3"] .icon-big{
  font-size: 90px;
}
.content-list{
  background-color: #fff;
  .clearfix;
  text-align: center;
  >li{
    float: left;
    width: 33.3333%;
    border-right:2px solid #f9f9f9; 
    border-bottom:2px solid #f9f9f9; 

    >a{
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 55/75rem 0;
      color: @gray1;
    }
  }
}
.item-title{

}
.item-value{
  color: @gray2;
}
